<section class="auth-page">
  <div class="auth-card">
    <div class="auth-card__brand">
      <%= link_to root_path do %>
        <span>AURA</span>
        <small>LINGERIE</small>
      <% end %>
    </div>

    <div class="auth-card__heading">
      <p>Nova senha</p>
      <h1>Redefinir senha</h1>
      <span>Crie uma nova senha segura para acessar sua conta.</span>
    </div>

    <%= simple_form_for(resource,
        as: resource_name,
        url: password_path(resource_name),
        html: { method: :put, class: "auth-form" }) do |f| %>

      <%= f.error_notification %>
      <%= f.input :reset_password_token, as: :hidden %>

      <%= f.input :password,
          label: "Nova senha",
          required: true,
          autofocus: true,
          hint: ("mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
          input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation,
          label: "Confirmar nova senha",
          required: true,
          input_html: { autocomplete: "new-password" } %>

      <%= f.button :submit, "Alterar senha", class: "auth-form__submit" %>
    <% end %>

    <div class="auth-card__footer">
      <span>Já redefiniu?</span>
      <%= link_to "Entrar", new_session_path(resource_name) %>
    </div>
  </div>
</section>
