<section class="auth-page">
  <div class="auth-card">
    <div class="auth-card__brand">
      <%= link_to root_path do %>
        <span>AURA</span>
        <small>LINGERIE</small>
      <% end %>
    </div>

    <div class="auth-card__heading">
      <p>Recuperar acesso</p>
      <h1>Esqueci minha senha</h1>
      <span>Informe seu e-mail e enviaremos as instruções para redefinir sua senha.</span>
    </div>

    <%= simple_form_for(resource,
        as: resource_name,
        url: password_path(resource_name),
        html: { method: :post, class: "auth-form" }) do |f| %>

      <%= f.error_notification %>

      <%= f.input :email,
          label: "E-mail",
          required: true,
          autofocus: true,
          input_html: { autocomplete: "email" } %>

      <%= f.button :submit, "Enviar instruções", class: "auth-form__submit" %>
    <% end %>

    <div class="auth-card__footer">
      <span>Lembrou sua senha?</span>
      <%= link_to "Entrar", new_session_path(resource_name) %>
    </div>
  </div>
</section>
